
*{
    font-family: 'Crimson Text', serif;
}



.Capital{
    color: #052599 ;
}

.Paris.Capital{
    background-color: beige;
    color: red;
}

#london
{
    background-color: pink;
}


.myspan{
    padding: 5px 5px;
    border-top: 2px solid black;
    border-bottom: 4px solid grey; 
    background-color: pink;
}


#myparagraph{
    border: 10px lightgreen ridge;
    margin: 5px;


}

h1,h2{
    font-family: 'Roboto', sans-serif;
    text-align:center;
}











.notebox{
    border: 4pxsolid#666;padding: .5em;
}

.notebox.warning{
    border-color: orange;font-weight: bold;
}
.notebox.danger{
    border-color: red;font-weight: bold;
}